<appSettings>
 <add key="YAF.GDPRControllerAddress" value="" />
 <add key="YAF.BoardID" value="1" />
 <add key="YAF.EnableURLRewriting" value="true" />
 <add key="YAF.URLRewritingMode" value="Translit" />
 <add key="YAF.UseSMTPSSL" value="false" />
 <add key="YAF.DatabaseObjectQualifier" value="yaf_" />
 <add key="YAF.DatabaseOwner" value="dbo" />
 <add key="YAF.ConnectionStringName" value="yafnet" />
 <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
 <add key="YAF.FileRoot" value="~/forum" />
 <add key="YAF.AppRoot" value="~/forum" />
 <add key="YAF.ProviderKeyType" value="System.Guid" />
 <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini" />
 <add key="YAF.ConfigPassword" value="W0rldpeace_1." />
  <!--Google Settings-->
  <add key="google_client_id" value="521642332367-hq36mtcdn3877f25dukergc4shv9k54u.apps.googleusercontent.com"/>
  <add key="google_client_secret" value="95NL7FLtKzHzmWxBju3QXKg0"/>
  <add key="google_redirect_url" value="http://localhost:83/index.aspx"/>
  <add key="Googleurl" value="https://accounts.google.com/o/oauth2/auth?response_type=code&amp;redirect_uri={0}&amp;scope=https://www.googleapis.com/auth/userinfo.email%20https://www.googleapis.com/auth/userinfo.profile&amp;client_id={1}"/>
  <add key="googleoAuthUrl" value="https://accounts.google.com/o/oauth2/token"/>
  <add key="googleoAccessUrl" value="https://www.googleapis.com/oauth2/v1/userinfo?access_token="/>

  <!--Facebook Settings-->
  <add key="Facebook_AppId" value="1869342619883905"/>
  <add key="Facebook_AppSecret" value="d01e65c9a12e4d3802842d9d70dd0c39"/>
  <add key="Facebook_RedirectUrl" value="http://localhost:83/index.aspx"/>
  <add key="Facebook_scope" value="email, publish_actions, public_profile"/>
  <add key="Facebook_url" value="https://graph.facebook.com/oauth/authorize?client_id={0}&amp;redirect_uri={1}&amp;scope={2}"/>
  <add key="FacebookOAuthurl" value="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;scope={2}&amp;code={3}&amp;client_secret={4}"/>
  <add key="FacebookAccessUrl" value="https://graph.facebook.com/me?fields=first_name,last_name,gender,locale,link,email&amp;access_token="/>

</appSettings>
