<connectionStrings>
  <add name="yafnet" connectionString="Data Source=DESKTOP-75RSDSE\CODYBAABA;Initial Catalog=DESTECH;User ID=sa;Password=W0rldpeace_1."
    providerName="System.Data.SqlClient" />
  <add name="localdba" connectionString="Data Source=SQL5034.myASP.NET;Initial Catalog=DB_A198E3_codygeek;User Id=DB_A198E3_codygeek_admin;Password=W0rldpeace_1." providerName="System.Data.SqlClient" />
  <add name="localdb" connectionString="Data Source=DESKTOP-75RSDSE\CODYBAABA;Initial Catalog=DESTECH;Persist Security Info=True;User ID=sa;Password=W0rldpeace_1." providerName="System.Data.SqlClient" />
</connectionStrings>